<% if(!userData) { %> 
    <!-- 로그인정보가 없다면 -->
<script>
    alert("비회원은 접근할 수 없는 페이지 입니다.");
    location.href="/login";   
</script>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/header.js"defer></script>
    <script src="/js/footertop.js"defer></script>
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="container">
        <div class="cont1">
            <%- include("common/image.ejs") %>
            <div class="text">
                <h2>가을에 입기 좋은 인기 키즈템 10</h2>
                <p>베베외 6개 브랜드</p>
            </div>
        </div>
        <div class="cont2list">
            <div class="brd_center3">
                <div class="grid">
                    <div class="brands">
                        <i class="fa-brands fa-windows"></i>
                        <h2>목록 게시판</h2>
                    </div>
                    <form id="myFoty" action="/search" method="get">
                        <select class="box4" name="searchCategory">
                            <option value="brdsubject">제목</option>
                            <option class="brdop" value="brdcontext">내용</option>
                        </select>
                        <input class="box5" id="searchResult" type="text" name="searchResult">
                        <button id="searchBtn" type="submit">검색</button>
                    </form>
                </div>
                <div class="aven">
                    <% for(let i = 0 ; i < brdData.length; i++) { %>
                    <div class="line">
                        <div class="ones"><%- brdData[i].brdid %></div>
                        <div class="wrwd">
                            <% if(brdData[i].brdfile) { %>
                            <img src="/upload/<%- brdData[i].brdfile %>">
                            <% } else{ %>
                            <div class="noimg">이미지 없음</div>
                            <% } %>
                            <div class="wrtext">
                                <p>FEATURED</p><p>FOR SALE</p>
                            </div>
                        </div>
                        <div class="wrwd7">
                            <div class="wrwd5"><a class="tiwd" href="/brddetail/<%- brdData[i].brdid %>"><%- brdData[i].brdsubject %></a></div>
                            <div class="wrwd2"><%- brdData[i].brdauther %></div>
                            
                        </div>
                        <div class="wrwd6">
                            <div class="wrwd3"><%- brdData[i].brddate %></div>
                            <div class="wrwd4">조회수:<%- brdData[i].brdviews %></div> 
                        </div>
                    </div>
                    <% } %> 
                    <div class="insert">
                        <a class="inmsrt" href="/brdinsert">글쓰기</a>
                        <a class="list2" href="/brdlist">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script>
        const myform = document.querySelector("#myFoty");
        const searchResult = document.querySelector("#searchResult");
        const searchBtn = document.querySelector("#searchBtn");

        searchBtn.addEventListener("click",function(event){

            let searchValue = searchResult.value;
            searchValue = searchValue.trim();

            if(searchValue === ""){
                event.preventDefault();
                alert("검색어를 입력하세요");
            }
            else {
                myform.submit();
            }
        });

    </script>
</body>
</html>