<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회사소개 페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/header.js"defer></script>
    <script src="/js/introduceslide.js"defer></script>
    <script src="/js/introducevideo.js"defer></script>
    <script src="/js/introducecont3text.js"defer></script>
    <script src="/js/introducecont3.js"defer></script>
    <script src="/js/introduceCont5.js"defer></script>
    <script src="/js/footertop.js"defer></script>
</head>
<body>
    <%- include("common/header.ejs") %>
    <div id="container">
        <div class="cont1">
            <%- include("common/image.ejs");%>
            <div class="text">
                <h2>인기 컬러 그레이로 꾸민 상품</h2>
                <p>인기 애니메이션과 함께한 협업 컬렉션</p>
            </div>
        </div>
        <div class="cont2about">
            <div class="video">
                <div class="viewo">
                    <video class="vid01" 
                        src="img/space5.mp4"muted autoplay loop>
                    </video>
                    
                </div>
                <div class="viewo">
                    <video class="vid01" 
                        src="img/video cut.mp4"muted autoplay loop>
                    </video>
                </div>
            </div>
            <div class="videotext">
                <h2>턴애플에 오신걸 환영합니다.</h2>
                <p>지플리시 퍼 자켓은 표면이 부드러운 양털 겉감과 내부 나일론 원단의 조합이 돋보인다.<br>
                    디자인적 요소를 더한 리버서블 기능으로 활용할 수 있으며 자연스러운 오버사이즈 <br> 
                    실루엣 덕분에 누구나 편하게 착용하기 좋다. 소매와 밑단은 찬 공기의 유입을 차단하기 <br>
                    위해 리브 디테일로 완성도를 높였다. 이너용으로도 활용하기 좋은 유니폼브릿지 <br>
                    1960 S/S 티는 무신사 테라스와 유니폼브릿지가 함께 만든 반소매 티셔츠다. <br>
                    아이비리그 스타일의 1960 패치 자수로 포인트를 주었으며 자연스러운 핏을 위해 <br>
                    옆트임 디테일을 더해 완성했다. 브렌슨 헤비기모 루즈핏 투웨이 후드집업은 <br>
                    군더더기 없는 심플한 디자인의 무지 아이템이다. 브렌슨에서 직접 제작한 <br>
                    기모 원단 프리미엄 코튼으로 더욱 견고하고 우수한 퀄리티를 자랑한다.     
                </p>
                <div class="textbox">
                    <a href="#">READ MORE</a>
                </div>
            </div>

        </div>
        <div class="cont3">
            <div class="textboxst">
                <h2>어떤 브랜드를 선호하십니까?</h2>
                <p>한국기업평판연구소는 국내 섬유의류 상장기업에 대한 브랜드 빅데이터 평판분석을 하였습니다.</p>
            </div>
            <div class="center">
                <div class="listWrap">
                <!-- <div class="listbox show">
                        <div class="image"><img src="/img/image32.jpg"></div>
                        <h2>Blog title Goes Here</h2>
                        <p>Lorem Lpsum Dolor Sit Amet Consectetur,<br>
                           Adipisicing Elit.Quod,Adipisci!</p>
                        <a href="#" class="more">Read More</a>
                        <div class="listBot">
                            <div class="left">
                                <a href="#"><span class="material-symbols-outlined">arrow_drop_down_circle</span></a>
                                <span class="stmay">21st May,2022</span>
                            </div>
                            <div class="right">
                                <a href="#"><span class="material-symbols-outlined">swipe_left</span></a>
                                <span class="stmay2">By Admin</span>
                            </div>
                        </div>
                    </div>    -->
                </div>
                <div class="btnWrap">
                    <button class="loadMore">더보기</button>
                </div>
            </div>
        </div>
        <div class="contfds4 ">
            <div class="textboxsw">
                <h2>센스 넘치는 조합</h2>
                <p>전문 스타일리스트가 제안하는 다양한 코디로 매일 반복되는 코디 </p>
            </div>
            <div class="center">
                <ul class="circle">
                    <div class="sw srco">
                        <li><a href="#"><img src="img/fo66.jpg"></a></li>
                        <li><a href="#"><img src="img/fo75.jpg"></a></li>
                    </div>
                    <div class="sw srco">
                        <li><a href="#"><img src="img/fo76.jpg"></a></li>
                        <li><a href="#"><img src="img/fo77.jpg"></a></li>
                    </div>
                </ul>
                <div class="silder">
                    <div class="view">
                        <% for(let i=0; i<turnapp.length; i++){ %>
                        <div class="turnapp">
                            <div class="shatp">
                                <span><i class="fa-sharp fa-solid fa-quote-left"></i></span>
                                <p><%- turnapp[i].subtitle %>
                                </p>
                            </div>
                            <div class="shatp2">
                                <div class="chris">
                                    <div class="cjset">
                                    <img src="<%- turnapp[i].img %>"></div>
                                    <div class="fsdg">
                                        <p class="gor"><%- turnapp[i].title %></p>
                                        <p><%- turnapp[i].title2 %></p>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <ul class="circle">
                    <div class="sw">
                        <li><a href="#"><img src="img/fo78.jpg"></a></li>
                        <li><a href="#"><img src="img/fo79.jpg"></a></li>
                    </div>
                    <div class="sw">
                        <li><a href="#"><img src="img/fo80.jpg"></a></li>
                        <li><a href="#"><img src="img/fo81.jpg"></a></li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="cont5">
            <div class="textboxst">
                <h2>신상 세일 공모전 이벤트</h2>
                <p>기간 : 2022.11.07 ~ 2023.01.20</p>
            </div>
            <div class="centerMaria">
          <!-- <div class="suppbox">
                    <div class="supimage">
                        <img src="">
                    </div>
                    <div class="textbox">
                        <p>support</p>
                        <h2>Karen Paran</h2>
                        <p><i class="fa-regular fa-envelope"></i></p><span> info@themevessel.com</span>
                        <p><i class="fa-solid fa-phone"></i></p><span> +55 4XX 634-7071</span>
                        <p><i class="fa-sharp fa-solid fa-badge-dollar"></i></p><span> sales.carshop</span>
                    </div>
                </div> -->
            </div>
        </div>>
    </div>
    <%- include("common/footer.ejs") %>
</body>
</html>